.techstack {
    padding-left:150px ;
    margin-top: 80px ;
    margin-left: 220px;
}
.teckstack hr{
    color: #138781;
    width: 400px;
    margin: 10px auto;
}
.teckstack .h2{
    font-weight:bold ;
    color: #138781;
}
.techstack .card {
    cursor: pointer;
   
  }
  .techstack .tech-icon{
    font-size: 2rem;
    margin-left: 10px;
  }

.techstack .card:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    background-color: #138781;
    color: white;
    border: none;
    transition: 1s;
  }


/* =============================== */
@media (max-width: 600px) {
  .techstack {
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }

  .techstack hr {
    width: 280px;
  }
}