.nav-profile-pic img{
    border-radius: 100px;
    height: 200px;
    width: 160px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 10px;


}
.nav-profile-pic h1{
    color: rgb(232, 131, 9);
    font-size: 25px;
    margin-top: 10px;
    margin-right: 50px;
    padding-left: 80px;
}
.nav-item{
    color: white;
    margin-top: 30px;
    /* text-align: center; */
    margin: 25px;
}
.nav-link{
    margin-top: 20px;
    cursor: pointer;

}
.nav-link svg{
    margin-right: 10px;
    
   

}
.nav-link:hover{
    color: orange;
   

}
.nav-link .active{
    color: #f29f67;
    border-left: 5px solid #f29f67;
    padding-left: 10px;
    text-decoration: none;

}